@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@600&family=Roboto:wght@500&display=swap');
html{
   font-family: "Open Sans"sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
body{
    background-image: url(/components/images/dentisbackground-2.webp);
    background-repeat: no-repeat;
    background-size:100%;
}
.bg-dark-blue{
    background-color: blue;
}
#navbar{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;

    padding: 0 0.75rem;
    height: 70px;
}
#navbar a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}
#navbar li{
    list-style-type: none;
    padding: 0.75rem;
    font-weight: 600;
    font-size: 20px;
}
#navbar ul li a{
    padding: 0.75rem;
    text-align: center;
}
#navbar a:hover{
    background-color:greenyellow;
    color: black;
    border-radius: 5px;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}


.form{
   max-width: 500px;
   width: 100%;
   margin: 50px auto;
   background:  #d5dbd9;
   padding: 30px;
   box-shadow: 2px 2px 2px 4px rgba(0, 0, 0,0.125 );
   border-radius: 10px;
}
.form .person{
    font-style: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color:#fec107 ;
    text-transform: uppercase;
    text-align: center;
}
.form .name{
    display: flex;
    align-items: center;
     margin-bottom: 15px;
}

.form .name span{
    width: 100px;
    margin-right: 10px;
    color: #757575;
    font-size: 14px;
}

.form .name .input,
.form .name .textare{
    width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.form .name .input:focus,
.form .name .textare:focus{
    border: 1px solid #fec107;
}

.form .name .btn{
    width: 100%;
    background: #fec107;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}