<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3467/3467830.png">
    <link rel="stylesheet" href="/components/home/home.css">
</head>

<body>
    <header class="home">
        <div class="container">
            <nav id="navhome">
                <h1 class="heading"><i class="fa-solid fa-tooth"></i> Dentist</h1>
                <ul>
                    <li><a href="/components/sigin/sign.html">Daxil ol</a></li>
                    <li><a href="/components/home/home.html">Əsas Menu</a></li>
                    <li><a href="/components/row/row.html">Növbə</a></li>
                    <li><a href="/components/contact/contact.html">Əlaqə</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="sectionhome">
        <img src="/components/images/home-bg.jpg" alt="" id="info">
        <div class="information">
         
            <h2 class="infop">
                Gəlin gülüşünüzü işıqlandıraq
            </h2>
            <p class="parag">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aliquam iste, autem eligendi rerum,
                debitis itaque laborum reiciendis, doloribus quod dicta ab nostrum voluptas. Exercitationem magni ullam
                quas obcaecati, corrupti sunt, quia iure iste, laborum animi libero! Totam consectetur ex id aliquam eos
                ipsum voluptates. Sunt, velit. Aliquid, optio vitae.
            </p>
            <h3 class="contact">
                <a href="/components/contact/contact.html" id="conta">Əlaqə</a>
            </h3>
        </div>
    </section>
    <section class="sectionabout">
        <div class="container">
            <div class="about">
                <img src="/components/images/about-img.jpg" alt="" class="imgabout">
                <div class="paragp">
                    <p class="aboutparag">
                        <strong class="strong">Haqqımızda</strong>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint possimus ipsum tempore optio
                        incidunt
                        voluptates molestias aliquam itaque asperiores aut!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="secservices">
        <h2 class="serv">Bizim Xidmətlər</h2>
        <div class="container">
            <div class="services">
                <div class="servicon">
                    <img src="/components/images/icon-1.svg" alt="">
                    <h3>Təmizləmə</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, nobis?</p>
                </div>
                <div class="servicon">
                    <img src="/components/images/icon-2.svg" alt="">
                    <h3>Kosmetik stomatologiya</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, nobis?</p>
                </div>
                <div class="servicon">
                    <img src="/components/images/icon-3.svg" alt="">
                    <h3>Ağız gigiyenası üzrə ekspertlər</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, nobis?</p>
                </div>
                <div class="servicon">
                    <img src="/components/images/icon-4.svg" alt="">
                    <h3>Kök Kanal Mütəxəssisi</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, nobis?</p>
                </div>
                <div class="servicon">
                    <img src="/components/images/icon-5.svg" alt="">
                    <h3>Canlı Diş Məsləhəti</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, nobis?</p>
                </div>
                <div class="servicon">
                    <img src="/components/images/icon-6.svg" alt="">
                    <h3>Boşluğun müayinəsi</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, nobis?</p>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <section class="process">
        <h2 class="procheading">
            İş prosesi
        </h2>
        <div class="container processs">
            <div class="workproc">
                <img src="/components/images/process-1.png" alt="">
                <h3>Kosmetik stomatologiya</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, dolorum?</p>
            </div>
            <div class="workproc">
                <img src="/components/images/process-2.png" alt="">
                <h3>Uşaq stomatologiyası</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, dolorum?</p>
            </div>
            <div class="workproc">
                <img src="/components/images/process-3.png" alt="">
                <h3>Diş İmplantları</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, dolorum?</p>
            </div>
        </div>
    </section>
    <hr/>
    <footer class="footertext">
        <div class="container">
            <h2 class="contactheader">Əlaqə</h2>
            <div class="contactdisp">
                <div class="contact2">
                    <ul class="contactlist">
                        <li><i class="fa-brands fa-instagram"></i>Instagram</li>
                        <li><i class="fa-brands fa-facebook"></i>Facebook</li>
                        <li><i class="fa-solid fa-envelope"></i>Mail</li>
                        <li><i class="fa-brands fa-twitter"></i>Twitter</li>
                        <li><i class="fa-solid fa-phone"></i>+994-12-234-12-23</li>
                    </ul>
                </div>
                <div id="map">
                    
                </div>
            </div>
            <span class="foot">Copyright - 2022, website made by Zeynal Nasibzade. All Rights Reserved.</span>
        </div>
    </footer>
    <hr/>
    <script src="/components/home/home.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Zb542Q4E7knYpO-iHMljndv-vooAklE&callback=initMap">
</script>
</body>

</html>